/* Navbar */
.navbar{
    background-color: black !important;
} 


/* added styling to heading on top left */
.navbar-brand{
    background-color: black;
    border: whitesmoke solid 5px;
    border-radius: 25px;
    color: whitesmoke !important;
    padding: 5px;
    font-size: 24px;
}

/*moved navbar links to right */
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}  

/* created hero section with my photo, my name and a random quote*/
header.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: whitesmoke;
    background: url("../images/codingflat.jpg");
}

header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
}

header.masthead .header-content h1 {
    font-size: 30px;
}

header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
}

header.masthead .device-container .screen img {
    border-radius: 3px;
}

/* selfie styling */
#selfie{
    border-radius: 50%; !important
    border: solid whitesmoke 10px; !important
}

h1, h2{
    font-family: sans-serif;
    -webkit-text-stroke: black 1px;
}
/* full black bacground */
body{
    background-color: black; !important
}

/* styling for my about me section*/
.aboutmeDeets{
    color: whitesmoke;
    border: whitesmoke solid 5px;
    border-radius: 25px;
    padding:15px;
    font-size: 20px;
    font-family: sans-serif;

}

/* .projectLabel{
    background-color: black;
    border: whitesmoke solid 5px;
    border-radius: 25px;
    color: whitesmoke !important;
    padding: 5px;
    font-size: 12px;
    
} */

/* styling for contact details */
.deets{
    background-color: black;
    border: whitesmoke solid 5px;
    border-radius: 35px;
    color: whitesmoke !important;
    padding: 10px;
    font-size: 20px;
}

/* styling for the different section labels */
.labels{
    background-color: black;
    border: whitesmoke solid 5px;
    border-radius: 35px;
    margin-bottom: 100px;
    color: whitesmoke !important;
    padding: 15px;
    font-size: 24px;
}

/* adjusting margins of rows */
.container-fluid{
    padding: 10px;
}





/* card sizing and styling */
.card{
    border-radius: 4px;
    background: #fff;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    /* padding: 14px 36px 14px 36px;  */
    cursor: pointer;
}

.smallCard {
    max-width: 100%;
    max-height: 350px;
}


.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px 5px red; 
}

/* adjusting margins */
.projectSize{
    margin-top: 30px; !important
    margin-bottom: 30px; !important
    /* /* padding: 10px; !important */
}

.aboutmeSize{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 20px;
    margin-bottom: 30px;
}
.workSize{
    margin-top: 20px;
    margin-bottom: 20px;
}

.contactmeSize{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* styling footer */
footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: black;
  }